<%- include('../layout') %>

<div class="container mt-5">
  <div class="alert alert-success text-center">
    <h4>Password Reset Complete</h4>
    <p><%= message %></p>
    <a href="/login" class="btn btn-primary mt-3">Back to Login</a>
  </div>
</div>
